.btn2{
    background-color: var(--warning);
    color: var(--bg-primary);
    border: 1px solid var(--warning);
    outline: none;
    padding: 1vw 40px 1vw 2vw;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.btn2 i{
    position: absolute;
    transform: translate(5px, 3.45px);
    transition: transform 0.2s ease;
}

.btn2:hover i{
    transform: translate(10px, 3.45px);
}