@font-face {
    font-family: Roboto;
    src: url('../../../fonts/Roboto//Roboto-VariableFont_wdth\,wght.ttf');
}

*{
    box-sizing: border-box;
}

.hero {
    min-height: 100vh;

    background-image: linear-gradient(to right, var(--bg-primary) 30%, #0b0f19a2, #0b0f1923),
    url('../../../assets/images/Hero.png');
    background-position: center;
    background-size: cover;
    
    background-color: var(--bg-primary);

    display: flex;
    align-items: center;

    padding: 120px 2rem 4rem;
}

.hero-container {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.hero-tag {
    color: var(--warning);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 0.9rem;
    font-weight: 600;
}

.hero-content h1 {
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: 1.2;

    font-family: Roboto;
    color: var(--text-primary);
}

.hero-content h1 span {
    color: var(--warning);
    font-family: Roboto;
}

.hero-content p {
    max-width: 400px;

    font-size: clamp(10px, 16px, 20px);
    line-height: 1.8;

    color: #b5b5b5;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secondary-btn {
    outline: none;
    padding: 1vw 30px 1vw 2vw;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondary);
    position: relative;
    overflow: hidden;
    font-size: 14px;
}

.secondary-btn i {
    color: var(--warning);
    position: absolute;
    transform: translate(10px, 4px);
}

.secondary-btn:hover i{
    animation: downAnimation .5s ease;
}

@keyframes downAnimation {
    0%{
        transform: translate(10px, 4px);
    }
    25%{
        transform: translate(10px, 100%);
        opacity: 0;
    }
    50%{
        transform: translate(10px, -100%);
        opacity: 0;
    }
    75%{
        transform: translate(10px, 4px);
        opacity: 1;
    }
    100%{
        transform: translate(10px, 4px);
        opacity: 1;
    }
}

.hero-visual {
    display: flex;
    justify-content: center;
}

.hero-visual img {
    width: 100%;
    max-width: 650px;

    object-fit: contain;
}

@media (max-width: 480px) {

  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-content {
    align-items: center;
  }

  .hero-actions {
    justify-content: center;
    flex-direction: column;
  }

  .hero-visual {
    order: -1;
  }
}